*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#div-product{
    width: 49%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: white;
    background-color: #5a5c69;
    align-items: center;
    border: 1px solid #5a5c69;
    border-radius: 5px;
    padding: 20px;
    margin: 7px 0px;
}