*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div-home{
    width: 99%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}